@import url(./variables.css);
@import url(./main.css);

footer {
    margin-top: 2.5rem;
    box-shadow: 0 -8px 6px -6px var(--blue-178);
}

.footer {
    padding: 1.5rem 0;
}

.footer p {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.footer-item {
    position: relative;
    align-items: center; 
    margin-top: 1rem;   
}

.footer-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.footer-item:last-child {
    width: 4.5rem;
    margin: 1rem auto;
}

.footer-item svg {
    width: 4.5rem;
    fill: var(--light-green-115);
}