@import url(./variables.css);
@import url(./main.css);

.theme,
.header,
.name-block,
.level_block,
.level_inner-block,
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    box-shadow: 0 8px 6px -6px var(--blue-178); 
}

.header {
    padding: 2rem 0;
    position: relative;
}

nav {
    width: 60%;
}

nav svg {
    width: .6rem;
    cursor: pointer;
    margin-left: .5rem;
}

.burger-menu {
    position: relative;
    width: 2rem;
    height: 2rem;
}

.burger-menu svg {
    width: 2rem;
    cursor: pointer;
}

.name-block,
.level_inner-block {
    margin: .5rem;
    position: relative;
    cursor: pointer;
}

.name-block ul {
    min-width: 7rem;
    height: 10rem;
    overflow: auto;
}

.name-block ul,
.level_block ul {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
    transform: translateY(100%);
    transition: transform .3s ease;
}

.name-block.active ul,
.level_inner-block.active ul {
    transform: translateY(0);
}

.name-block li,
.level_block li {
    padding: .6rem;
    cursor: pointer;
}

.theme svg {
    width: 1rem;
}

#random-game,
.theme,
.winnings {
    cursor: pointer;
    border-radius: .4rem;
    background-color: var(--light-green-191);
    padding: .2rem .9rem;
    border: none;
}

.theme {
    padding: .3rem;
}

#random-game:hover,
.winnings:hover,
.theme:hover {
    background-color: var(--light-green-178);
}

.header .inBurgerNav {
    max-width: 10rem;
    padding: 1.3rem .8rem;
    background-color: var(--white);
    box-shadow: 0 4px 5px 3px var(--blue-178); 
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    bottom: -220%;
    z-index: 10;
}

.header .inBurgerNav .level_block p,
.header .inBurgerNav .level_block div,
.header .inBurgerNav .name-block p {
    display: inline-block;
}

.header .inBurgerNav .level_block .level_inner-block {
 margin-right: 0;
}

.header .inBurgerNav button,
.header .inBurgerNav .level_block,
.header .inBurgerNav .name-block {
    width: 90%;
    margin: .3rem 0;
    justify-content: space-between;
}

.header .inBurgerNav button {
    font-size: .6rem;
}

@media (max-width: 768px) {
    .header {
        padding: 1rem 0;
    }
    nav {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .burger-menu,
    .burger-menu svg {
        width: 1.5rem;
    }

    .theme svg {
        width: .8rem;
    }
}