@import url(./variables.css);
@import url(./main.css);

.down-block,
.up-block {
    min-height: 5.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.batton-block,
#timer,
.nonogram-row li,
.parent-block,
.left-hints_rows li,
#nonogram {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.parent-block {
    padding-top: 1rem;
    justify-content: center;
}

#nonogram {
    min-width: 5.5rem;
    min-height: 5.5rem;
    border-left: .2rem solid var(--black);
    border-top: .2rem solid var(--black);
    border-right: .02rem solid var(--black);
    border-bottom: .02rem solid var(--black);
}

.left-hints_rows,
.nonogram-row {
    height: 1.1rem;
    width: 100%;
    border-bottom: .02rem solid var(--black);
    border-left: .02rem solid var(--black);
}

.left-hints_rows:last-child,
.nonogram-row:last-child {
    border-bottom: none;
}

.left-hints_rows ul,
.nonogram-row ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left-hints_rows li,
.nonogram-row li {
    width: 1.1rem;
    height: 1.1rem;
    justify-content: center;
    border-right: .02rem solid var(--black);
    cursor: pointer;
}

.nonogram-row li {
    justify-content: center;
}

.left-hints_rows li:last-child,
.nonogram-row li:last-child {
    border-right: none;
}

.left-hints_rows li:first-child {
    border-left: .02rem solid var(--black);
}

.left-hints_rows:first-child {
    border-top: .02rem solid var(--black);
}

.left-hints_rows:last-child {
    border-bottom: .02rem solid var(--black);
}

.up-hints {
  display: flex;
}

.up-hints_rows {
    width: 1.1rem;
    border-right: .02rem solid var(--black);
    border-top: .02rem solid var(--black);
}

.up-hints_rows li {
    height: 1.1rem;
    border-bottom: .02rem solid var(--black);
}

.up-hints_rows li:first-child {
    border-top: .02rem solid var(--black);
}

.up-hints_rows li:last-child{
    border-bottom: none;
}

.up-hints_rows,
.up-hints_rows li,
.up-hints_rows ul {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальное направление для вложенного списка */
  justify-content: flex-end;
}

.up-hints_rows li {
    justify-content: center;
    align-items: center;
}

.up-hints_rows:first-child {
    border-left: .02rem solid var(--black);
}

#timer {
    justify-content: center;
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    z-index: 10;
    background-color: var(--light-green-178);
    font-weight: 900;
    color: var(--blue-44) !important;
    min-width: 3rem;
    height: 3rem;
    padding: .5rem;
    border-radius: .6rem;
    box-shadow: 0 0 2rem var(--light-green-191);
}

.batton-block {
    max-width: 27rem;
    margin: 2rem auto;
}

.batton-block button {
    padding: .4rem .8rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--light-green-191);
    cursor: pointer;
}

.batton-block button:hover {
    background-color: var(--light-green-115);
    box-shadow: 0 0 1.5rem var(--light-green-191);
}


/* modal win */
.container-win {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--blue-44-04);
}

.inner-win {
    width: 100%;
    height: 100%;
}

.inner-win h5,
.inner-win ul {
    display: inline-block;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--white);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-win h5 {
    font-weight: 700;
    color: var(--black) !important;
}

.inner-win li {
    padding: .5rem 0;
    min-width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-win li span {
    padding: .2rem;
    width: 30%;
    font-weight: 700;
    color: var(--black) !important;
}

.inner-win li .win-timer {
    text-align: center;
    background-color: var(--light-green-191);
}

@media (max-width: 710px) {
    .down-block,
    .up-block {
        min-height: 3.6rem;
    }
    #nonogram {
        min-width: 3.5rem;
        min-height: 3.5rem;
    }

    .left-hints_rows,
    .nonogram-row {
        height: .8rem;
    }

    .left-hints_rows li,
    .nonogram-row li {
        width: .8rem;
        height: .8rem;
    }

    .up-hints_rows {
        width: .8rem;
    }

    .up-hints_rows li {
        height: .8rem;
    }

    .batton-block {
        width: 14rem;
        justify-content: space-between;
    }

    .batton-block button {
        margin-bottom: .7rem;
        padding: .2rem .7rem;
        font-size: .7rem;
    }
}